body{
    background-color: #0d0d0d;
    top:0;
    bottom:0;
    overflow-y: hidden;
}
.content_body{
    background-color:#1b1b1b;
}
.common_font{
    font-family:\9ED1\4F53,\5FAE\8F6F\96C5\9ED1;
}

.text_right_align{
    text-align: right;
}

.orange_button{
    color: #fff;
    background-color: #e74000;
    border-color: #9A2B00;
}

.orange_button:focus,
.orange_button.focus{
    color: #fff;
    background-color: #CD3900;
    border-color: #9A2B00;
}

.orange_button:hover{
    color: #fff;
    background-color: #CD3900;
    border-color: #9A2B00;
}

.black_border{
    border:1px solid #000
}

.header{
    background-color: #393939;
    height:100px;
    font-size: 2em;
    letter-spacing: 1.1em;
    color:#FFFFFF;
    line-height:60px;
    vertical-align:central;
    padding-left:0;
    padding-right: 0;
    position: relative;
    min-width: 1000px;
    padding-top:20px;
}

.my_logo{
    width:150px;
    height: 150px;
    margin-top: 20px;
}
.my_logo_name{
    text-align: center;
    font-size:1.5em;
    margin-top: 10px;
    color: #FFEBE2;
    cursor:pointer;
}

.my_logo_name:hover{
    color: #FFD9C9;
}

.my_logout{
    width: 200px;
    left:50px;
}
.my_logout>li>a:hover{
    background-color: #FFD9C9;
}